<%- include('../partials/header') %>


<div>
    <div>Date: <%= dailylog.date %></div>
    <div>Name: <%= dailylog.name %></div>
    <div>Weight: <%= dailylog.weight %></div>
    <div>Exercise: <%= dailylog.exercise %></div>
    <a href="/dailylogs/<%= dailylog._id %>/edit"><button>Update</button></a>
</div>

<form id="add-meal-form" action="<%= dailylog._id %>/meals" method="POST">
    <label>Meal Type:</label>
    <input type="text" name="name">
    <label>Food:</label>
    <input type="text" name="food">
    <label>Water (cups):</label>
    <input type="number" name="water">
    <input type="submit" value="Add Meal">
</form>

<table id="tablelist">
    <thead>
      <tr>
        <th>Meal Type</th>
        <th>Food</th>
        <th>Water (cups)</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% dailylog.food.forEach(function(m) { %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.food %></td>
          <td><%= m.water %></td>
          <td><form action="/meals/<%= m._id %>?_method=DELETE" method="POST">
              <input type="submit" value="X">
          </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<img class="veggies" src="https://i.pinimg.com/originals/97/df/3d/97df3d012c0f2eee37e38711ca60a900.jpg" alt="vegetables">



<%- include('../partials/footer') %>


