<%- include('../partials/header') %>

<div>Input the type of meals, food, and water intake:</div>
<section id="badge-container">
  <% meals.forEach(function(m) { %>
    <article class="badge"><%= m.name %> <%= m.food %> <%= m.water %> cups
    <form action="/meals/<%= m._id %>?_method=DELETE" method="POST">
        <input type="submit" value="X">
    </form>
        
    </article>
  <% }) %>
</section>


<form id="add-meal-form" action="/meals" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Food:</label>
    <input type="text" name="food">
    <label>Water (cups):</label>
    <input type="number" name="water">
    <input type="submit" value="Add Meal">
  </form>



<%- include('../partials/footer') %>
